

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}

                                           /*ACA COMIENZA EL HEADER*/
header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    grid-gap: 50px;
}

header div{
    text-align: center;
    justify-content: center;
    margin: auto;
}

header div input{
width: 300px;
height: 25px;
}

.carritoycontacto{
    word-spacing: 45px;
    width: 150px;
}

header div a{
    text-decoration: none;
}

header div a img{
    height: 45px;
    width: 45px;
}

header .logo{
    height: 100px;
    width: 180px;
}

.carritoContacto{
    text-align: end;
    word-spacing: 30px;
}

.carritoContacto a{
    align-items: center;
    text-transform: uppercase;
    border-style: outset;
    text-decoration: none;
    padding: 5px;
}

.buscador{
    align-items: center;
}


.nav2{
    text-align: center;
    word-spacing: 30px;
    padding-top: 30px;
}

.iconos2{
    border-style:dashed;
    text-transform: uppercase;
    text-decoration: none;  
    border-style: outset;
    padding: 5px;
}

h1{
    font-size: 0px;
}

h2{
    text-align: center;
    font-weight: 300;
    padding-top: 60px;
}

.productosInicio{
margin-top: 60px;
margin-bottom: 60px;
text-align: center;
word-spacing: 120px;
}

.img-productosinicio{
height: 280px;
width: 280px;
}

                                           /*ACA COMIENZA EL FOOTER*/

footer{
    width: 100%;
}               

footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    margin-bottom: -20px;
}


footer .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

footer .grupo-1 .box .h2-sobrenosotros{
    text-align: left;
}

footer .grupo-1 .box p{
    margin-bottom: 10px;
}

footer .grupo-1 .box .redes-sociales{
    text-align: right;
    word-spacing: 55px;
}

footer .grupo-1 .box .h2-seguinos{
    margin-left: 320px; ;
}

footer .grupo-1 .box .redes-sociales a{
    text-decoration: none;
}

footer .grupo-1 .box .redes-sociales a img{
    height: 45px;
    width: 45px;
}

.grupo-2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}




